body {
    background-color: 		rgb(253,253,253);
    text-align: center;

 }

a.dark:link, a.dark:visited { color: black; text-decoration: none }
a.dark:hover {color: red}
 
a:link, a:visited { color: rgb(22,68,177); text-decoration: none }
  a:hover          { color: red }

  div#container {
    max-width:            755px;
    border:           thin solid;
    border-color:dimgray;
    background-color: #FFFFFF;
    text-align:       left;
    margin-left:      auto;
    margin-right:     auto;
  }

  div#header {
    padding-left:  0px;
    padding-right: 20px;
    padding-bottom: 3px;
    font-size: 24px;
    font-family: 'Trebuchet MS';
    
  }

div#header2 {
    padding-left:  0px;
    padding-right: 20px;
    padding-bottom: 3px;
    font-size: 20px;
    font-family: 'Trebuchet MS';
    font-variant: small-caps;
  }

  div.content {
    padding-left:  20px;
    padding-right: 20px;
    padding-bottom: 30px;
    font-family:arial
  }


div.content2 {
    margin-top: 0px;
    padding-left:  0px;
    padding-right: 0px;
    padding-bottom: 0px;
    font-family:arial
  }

  img.mypic {
    border: thin solid;
    border-color: dimgray;
    float:        left;
    width:       200px;
    margin-right : 20px;
  }
img.mypic2 {
   border: thin solid;
   border-color: #CCCCCC;
    float:        left;
    width:       705px;

  }

  p.navigation-bar {
    padding-top:      9px;
    padding-bottom:   8px;
    margin-top:       20px;
    margin-bottom:    45px;
    font-size:        14px;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: normal;
    text-align:       center;
    border-bottom:    thin solid;
    border-top:       thin solid;
    border-color:     dimgray;
    background-color:  rgb(253,253,253)	;
  a:link, a:visited { color: black; text-decoration: none }

  }
